.whereToGoBackGroundImage {
  background-color: black;
  background: url('../assets/Where to go/Locations/Sigiriya/bg photo.jpg')
    no-repeat center;
  position: relative;
  height: 240vh;
  background-size: cover;
  overflow: hidden;
}
/* src\assets\Where to go\Locations\Sigiriya\bg photo.jpg */
