.containerBackGroundImage {
  position: relative;
}
.containerBackGroundImage:after {
  content: '';
  background: url('../assets/beach.jpg') no-repeat center;
  position: absolute;
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7; /* Here is your opacity */
}
