.IncludeExcludeBox {
  border: 2px solid white;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
  background-color: rgba(255, 255, 255, 0.356);
}
