.titleContainer {
  /* padding: 5px 5px; */
  background-color: #5ac3ff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  font-size: 15px;
}

.mainPageRawInfoComp-container {
  /* text-align: center; */
  width: 100%;
}
/* .container {
  max-width: 100% !important;
} */
