body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h6 {
	color: black;
}

.carousel-topic {
	font-size: 3rem;
	text-align: right;
}
.carousel-des {
	text-align: right;
}

@media screen and (max-width: 600px) {
	.carousel-topic {
		font-size: 1rem;
		text-align: right;
	}
	.carousel-des {
		text-align: right;
		font-size: 0.5rem;
	}
}
